#links-list {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-icon-parents {
    padding: 5px;
}
.link-icon-parents:hover {
    background-color: rgba( 0, 0, 0, 0.2);
}

#github-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#github-image {
    height: 100px;
    width: 100px;
}

#linkedin-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#linkedin-image {
    height: 100px;
    width: 100px;
}